<!-- NOTE: @see ngClick for how to pass data selection to outside expression -->
<md-list  md-swipe-right="$ctrl.onSwipeRight()">
  <md-icon class="avatar"
	style="background-image:url({{$ctrl.account.image_url}})"
  ></md-icon>
  <span class="user-name">{{$ctrl.account.username}}</span>
  <div class="add-proj">
    Projects
    <span class="proj-col" ng-click="$ctrl.toggleNewProj($ctrl.users);"></span>
  </div>
  <md-list-item ng-repeat="proj in $ctrl.users" ng-if="proj">
    <md-button ng-click="$ctrl.showDetails({user:proj}); $event.stopPropagation();" ng-class="{'selected' : proj === $ctrl.selected }" selected="$ctrl.selected">
      {{ proj.title }}
      <span class="col">{{ proj.task_count }}</span>
    </md-button>
  </md-list-item>
</md-list>
